.untitled-design-27-removebg-icon1 {
  position: relative;
  width: 128px;
  height: 139px;
  object-fit: cover;
}
.figurative-language-11-container1 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  width: 454px;
  flex-shrink: 0;
}
.instance-child {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-red);
  width: 74px;
  height: 74px;
}
.untitled-design-27-removebg-group {
  align-self: stretch;
  height: 302px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 175px;
}
.figurative-language-is {
  margin: 0;
}
.figurative-language-is-container1 {
  line-break: anywhere;
  width: 100%;
}
.figurative-language-is-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 1338px;
  height: 529.33px;
  flex-shrink: 0;
}
.undraw-raining-re-4b55-1-icon {
  max-width: 100%;
  overflow: hidden;
  height: 311.64px;
  flex-shrink: 0;
}
.its-raining-cats-container,
.undraw-raining-re-4b55-1-icon {
  align-self: stretch;
  position: relative;
}
.an-idiom-is,
.imagecap {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.imagecap {
  width: 360px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;
}
.an-idiom-is {
  flex: 1;
  position: relative;
}
.an-idiom-is-a-phrase-or-expres-wrapper,
.center {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.an-idiom-is-a-phrase-or-expres-wrapper {
  border-radius: var(--br-81xl);
  background-color: var(--color-aquamarine);
  padding: 55px var(--padding-31xl);
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.center {
  align-items: center;
  gap: 43px;
  text-align: center;
  font-size: 16px;
}
.continue,
.continue-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.continue {
  position: relative;
  font-weight: 800;
  width: 180px;
  height: 88px;
  flex-shrink: 0;
}
.continue-wrapper {
  border-radius: var(--br-81xl);
  background-color: var(--color-red);
  width: 284px;
  height: 140px;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.figurative-language-is-a-way-o-parent {
  align-self: stretch;
  height: 1728px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.desktop-1280-1920 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2469px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-31xl) 159px 328px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  mix-blend-mode: normal;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
