.untitled-design-27-removebg-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  height: 139px;
  object-fit: cover;
}
.figurative-language-11-container {
  position: absolute;
  top: 21px;
  left: calc(50% - 219px);
  text-align: center;
}
.frame-child {
  position: absolute;
  top: 21px;
  right: 16px;
  border-radius: 50%;
  background-color: var(--color-red);
  width: 74px;
  height: 74px;
}
.figurative-language-is {
  margin: 0;
}
.figurative-language-is-container {
  flex: 1;
  position: relative;
}
.figurative-language-is-a-way-o-wrapper {
  position: absolute;
  width: calc(100% - 140px);
  top: calc(50% - 1140.5px);
  right: 76px;
  left: 64px;
  border-radius: var(--br-81xl);
  background-color: var(--color-aquamarine);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 28px 44px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.undraw-raining-re-4b55-1-icon {
  position: absolute;
  top: 0;
  left: 55.95px;
  width: 465.33px;
  height: 497.51px;
  overflow: hidden;
}
.its-raining-cats-container {
  position: absolute;
  top: 520px;
  left: 0;
  display: inline-block;
  width: 608px;
  height: 192px;
}
.undraw-raining-re-4b55-1-parent {
  position: absolute;
  top: 913px;
  left: 66px;
  width: 608px;
  height: 712px;
  text-align: center;
}
.group-child {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-aquamarine);
  width: 648px;
  height: 752px;
}
.an-idiom-is-container {
  position: absolute;
  top: 94px;
  right: 56px;
  display: inline-block;
  width: 536px;
  height: 496px;
}
.rectangle-parent {
  position: absolute;
  top: 913px;
  right: 66px;
  width: 648px;
  height: 752px;
}
.group-item {
  position: absolute;
  top: calc(50% - 360.5px);
  left: calc(50% - 654px);
  border-radius: var(--br-81xl);
  background-color: var(--color-aquamarine);
  width: 1308px;
  height: 704px;
}
.for-example-the-container {
  position: absolute;
  top: calc(50% - 266.5px);
  left: calc(50% - 581px);
  display: inline-block;
  width: 1144px;
  height: 627px;
}
.rectangle-group {
  position: absolute;
  top: calc(50% + 343.5px);
  left: calc(50% - 654px);
  width: 1308px;
  height: 721px;
}
.group-inner {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-red);
  width: 284px;
  height: 140px;
}
.continue {
  position: absolute;
  top: 23px;
  right: 56px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 88px;
}
.rectangle-container {
  position: absolute;
  top: 2416px;
  right: 66px;
  width: 284px;
  height: 140px;
  text-align: center;
}
.jeremy-jewell-web {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 13px;
  font-weight: 200;
  display: flex;
  align-items: center;
  width: 1422px;
  height: 68px;
}
.untitled-design-27-removebg-parent {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2703px;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
